.importante: fist-line{
  background-color: yellow;
}

a :link{
  color: pink;
} 

a :hover{
  color: red;
}

a :visited{
  color: blue;
}

a:focus{
  border: 2x slid yellow;
}

li :first-child {
  
}
